/* All styles for your Card Components live here */

.card {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    
}

.banner {
    max-width: 737px;
    width: 100%;
    
}

.cardCon {
    border: 1px solid lightgray;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
    
}

    .cardCon h2 {
        font-size: 1rem;
        padding-left: 15px;
    }

    .cardCon p {
        margin: 10px 0;
        padding-left: 15px;
    }

    .cardCon h3 {
        margin-top: 0;
        color: #d3d3d3;
        padding-left: 15px;
    }