.white {
    /* border: 10px solid pink; */
    font-size: 2rem;
    font-weight: 550;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    background-color: white;
    width: 25%;
    height: 75px;
}

.red {
    width: 25%;
    height: 75px;
    font-size: 2rem;
    border-top: 2px solid gray;
    background-color: #9b1801;
    color: white;
    /* border: 10px solid red; */

}

.clear {
    /* border: 10px solid blue; */
    background-color: white;
    width: 75%;
    height: 75px;
    font-size: 2rem;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
}

.zero {
    /* border: 10px solid green; */
    background-color: white;
    font-weight: 600;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    width: 75%;
    height: 75px;
    font-size: 2rem;
}